.user__panel {
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  color: #fff;
}

@media screen and (max-width: 950px) {
  .user__panel {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 660px) {
  .user__panel {
    margin-left: 0;
    align-items: center;
    align-self: stretch;
  }
}