.popup__close-button {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(100%, -100%) rotate(-45deg);
}

@media screen and (max-width: 550px) {
  .popup__close-button {
    transform: translateY(-150%) rotate(-45deg);
  }
}
