.user__panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  color: #fff;
}

@media screen and (max-width: 950px) {
  .user__panel {
    max-width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 660px) {
  .user__panel {
    align-items: center;
  }
}
