.close-button {
  width: 40px;
  height: 40px;
  padding: 0;
  border: 0;
  background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 3px, 3px 100%;
  transition: opacity 0.2s linear;
}

.close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .close-button {
    width: 26px;
    height: 26px;
    background-size: 100% 2px, 2px 100%;
  }
}
