.user__info {
  max-width: 336px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 610px) {
  .user__info {
    justify-content: center;
  }
}

@media screen and (max-width: 400px) {
  .user__info {
    max-width: 100%;
  }
}
