.inner-layout__header {
  margin-left: 200px;
  margin-right: 200px;
}

@media screen and (max-width: 1070px) {
  .inner-layout__header {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media screen and (max-width: 800px) {
  .inner-layout__header {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media screen and (max-width: 425px) {
  .inner-layout__header {
    margin-left: 0;
    margin-right: 0;
  }
}
